.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}

.menu a.open_menu {
  color: #8dbf99;
  z-index: 9;
}

.menu i.icon, .menu i.icons {
  font-size: 2em;
  padding:10px 10px 0 0;
}

.menu ul {
  padding: 30px 0 0;
}

.menu ul li {
  list-style-type: none;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
}

.menu ul li a {
  color: #908b87;
}
.menu ul li a:hover {
  display: block;
  padding-top:3px;
  color: #90c39c;
}
